<header>
    <div class="container">
        <h1 class="logo" onclick="location.href='/'">Link<span>Suwon</span></h1>
        <nav class="lang-selector">
            <a href="/?lang=kor" class="{{ 'active' if current_lang == 'kor' }}">KOR</a>
            <a href="/?lang=eng" class="{{ 'active' if current_lang == 'eng' }}">ENG</a>
            <a href="/?lang=jpn" class="{{ 'active' if current_lang == 'jpn' }}">JPN</a>
            <a href="/?lang=chs" class="{{ 'active' if current_lang == 'chs' }}">简</a>
            <a href="/?lang=cht" class="{{ 'active' if current_lang == 'cht' }}">繁</a>
        </nav>
    </div>
</header>